@page "/visitors/detail/{Id}"

@inject IReadRepository<Visitor> _visitorRepo;
@inject IReadRepository<SinglePass> _singlePassRepo;
@inject IReadRepository<MultiplePass> _multiPassRepo;

<HeroTitle Title="Visitors" Description="Visitor Details"/>

@if (visitor == null)
{
    <p>Not found</p>
    return;
}

<MudPaper Class="pa-3 mb-6">
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem sm="4">
            <MudImage Fluid="true" Src="@visitorPhoto" Class="rounded-lg" Height="180" />
        </MudItem>

        <MudItem sm="8">
            <MudGrid Spacing="1">
                <MudItem xs="6">
                    <MudGrid Class="flex-column" Spacing="0">
                        <MudItem>
                            <MudText Typo="Typo.caption">Full Name</MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@visitor.FirstName @visitor.LastName</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="6">
                    <MudGrid Class="flex-column" Spacing="0">
                        <MudItem>
                            <MudText Typo="Typo.caption">Phone</MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@visitor.Phone</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="6">
                    <MudGrid Class="flex-column" Spacing="0">
                        <MudItem>
                            <MudText Typo="Typo.caption">Identification Type</MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@visitor.IdentificationType</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="6">
                    <MudGrid Class="flex-column" Spacing="0">
                        <MudItem>
                            <MudText Typo="Typo.caption">Identification No</MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@visitor.IdentificationNo</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid Class="flex-column" Spacing="0">
                        <MudItem>
                            <MudText Typo="Typo.caption">Address</MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@visitor.Address</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem>
                    <MudButton Href="@editUrl" Color="Color.Secondary" Variant="Variant.Outlined">Edit</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudTabs PanelClass="pt-4">
    <MudTabPanel Text="Single Pass">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<SinglePass>>>(ReloadSinglePasses))"
                  @ref="singlePassTable"
                  Hover="true">
            <ToolBarContent>
                <MudButton OnClick="OnCreateSinglePass"
                           Variant="Variant.Filled" 
                           Color="Color.Primary">Add Single Pass</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Visit Date</MudTh>
                <MudTh>Officer To Visit</MudTh>
                <MudTh>Department</MudTh>
                <MudTh>Purpose</MudTh>
                <MudTh>In Time</MudTh>
                <MudTh>Out Time</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Visit Date">@context.VisitDate.ToShortDateString()</MudTd>
                <MudTd DataLabel="Officer To Visit">@context.OfficerToVisit</MudTd>
                <MudTd DataLabel="Department">@context.Department</MudTd>
                <MudTd DataLabel="Purpose">@context.Purpose</MudTd>
                <MudTd DataLabel="In Time">@context.InTime.ToString(@"hh\:mm")</MudTd>
                <MudTd DataLabel="Out Time">@context.OutTime.ToString(@"hh\:mm")</MudTd>
                <MudTd DataLabel="Actions">
                    <SinglePassAction SinglePass="@context" OnPassUpdate="ReloadSinglePassTable" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudTabPanel>
    <MudTabPanel Text="Multiple Pass">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<MultiplePass>>>(ReloadMultiPasses))"
                  @ref="multiPassTable"
                  Hover="true">
            <ToolBarContent>
                <MudButton OnClick="OnCreateMultiPass" 
                           Variant="Variant.Filled" 
                           Color="Color.Primary">Add Multi Pass</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>From Date</MudTh>
                <MudTh>To Date</MudTh>
                <MudTh>Purpose</MudTh>
                <MudTh>Department</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="From Date">@context.FromDate.ToShortDateString()</MudTd>
                <MudTd DataLabel="Till Date">@context.TillDate.ToShortDateString()</MudTd>
                <MudTd DataLabel="Purpose">@context.Purpose</MudTd>
                <MudTd DataLabel="Department">@context.Department</MudTd>
                <MudTd DataLabel="Actions">
                   <MultiPassAction MultiPass="@context" OnPassUpdate="ReloadMultiPassTable"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudTabPanel>
</MudTabs>
