@page "/visitors"

@inject IRepository<Visitor> _repository;

<HeroTitle Title="Visitors" Description="Manage Visitors" />

<MudTable ServerData="@(new Func<TableState, Task<TableData<Visitor>>>(ServerReload))"
          Hover="true"
          @ref="table"
          @bind-CurrentPage="pageIndex"
          FixedHeader="true">

    <ToolBarContent>
        <MudButton OnClick="GoToCreatePage" Variant="Variant.Filled" Color="Color.Primary">Add Visitor</MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString"
                      Placeholder="Search Visitor by Name or Phone" 
                      Adornment="Adornment.Start" 
                      AdornmentIcon="@Icons.Material.Filled.Search" 
                      IconSize="Size.Medium"
                      Class="mt-0" />
        <MudButton OnClick="@SearchVisitors" 
                   Variant="Variant.Filled"
                   Class="ml-2"
                   Color="Color.Secondary">Search</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Identification</MudTh>
        <MudTh>Address</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <span>@context.FirstName @context.LastName</span>
        </MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Identification">
            <span>@context.IdentificationType</span>
            <span>: @context.IdentificationNo</span>
        </MudTd>
        <MudTd DataLabel="Address">@context.Address</MudTd>
        <MudTd DataLabel="Actions">
            <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
                <MudMenuItem OnClick="_ => GoToDetailPage(context.Id)">Detail</MudMenuItem>
                <MudMenuItem OnClick="_ => GoToEditPage(context.Id)">Edit</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{1,2,3,5,10}"/>
    </PagerContent>
</MudTable>

@code {
    private string searchString = "";
    int pageIndex = 0;

    private MudTable<Visitor>? table;

    private async Task<TableData<Visitor>> ServerReload(TableState state) {
        var spec = new VisitorsPaginationSpec(state.Page, state.PageSize, searchString);

        var visitors = await _repository.ListAsync(spec);
        var totalCount = await _repository.CountAsync();

        return new TableData<Visitor>() { TotalItems = totalCount, Items = visitors };
    }

    void SearchVisitors() {
        pageIndex = 0;

        table?.ReloadServerData();
    }

    void GoToCreatePage() {
        var id = Guid.Empty;
        _navManager.NavigateTo($"/visitors/upsert/{id}");
    }

    void GoToEditPage(Guid id)
    {
        _navManager.NavigateTo($"/visitors/upsert/{id}");
    }

    void GoToDetailPage(Guid id)
    {
        _navManager.NavigateTo($"/visitors/detail/{id}");
    }
}
